sls/resources/stepfunctions/campaign-optimization-flow.yml
id: CampaignOptimizationStateMachine
name: ${self:provider.environment.BASE_STATE_MACHINE_NAME}CampaignOptimization
definition:
  Comment: "Esta step function orquestra o fluxo de otimização de campanhas do Google Ads usando OpenAI. Inclui passos para orquestração, fetch de templates ou métricas, chamada à OpenAI, parsing da resposta e interação com a API do Google Ads."
  StartAt: CampaignOrchestrator
  States:
    CampaignOrchestrator:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}CampaignOrchestrator
      Retry:
        - ErrorEquals: ["States.ALL"]
          IntervalSeconds: 3
          BackoffRate: 2
          MaxAttempts: 3
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: DetermineOptimizationPath
    
    DetermineOptimizationPath:
      Type: Choice
      Choices:
        - Variable: "$.runType"
          StringEquals: "FIRST_RUN"
          Next: FetchCampaignTemplate
        - Variable: "$.runType"
          StringEquals: "IMPROVE"
          Next: FetchCampaignMetrics
      Default: FetchCampaignTemplate
    
    FetchCampaignTemplate:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}FetchCampaignTemplate
      Retry:
        - ErrorEquals: ["States.ALL"]
          IntervalSeconds: 2
          BackoffRate: 2
          MaxAttempts: 3
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: CallOpenAI
    
    FetchCampaignMetrics:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}FetchCampaignMetrics
      Retry:
        - ErrorEquals: ["States.ALL"]
          IntervalSeconds: 2
          BackoffRate: 2
          MaxAttempts: 3
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: CallOpenAI
    
    CallOpenAI:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}OpenAIOptimizationEngine
      Retry:
        - ErrorEquals: ["States.TaskFailed", "ThrottlingException"]
          IntervalSeconds: 3
          BackoffRate: 2
          MaxAttempts: 4
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: ParseOpenAIResponse
    
    ParseOpenAIResponse:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}GoogleAdsPayloadParser
      Retry:
        - ErrorEquals: ["States.ALL"]
          IntervalSeconds: 2
          BackoffRate: 2
          MaxAttempts: 2
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: ApplyGoogleAdsChanges
    
    ApplyGoogleAdsChanges:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}GoogleAdsAPIClient
      Retry:
        - ErrorEquals: ["States.TaskFailed", "ThrottlingException"]
          IntervalSeconds: 5
          BackoffRate: 2
          MaxAttempts: 3
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: FinishCampaignOptimization
    
    FinishCampaignOptimization:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}OptimizationProcessRecorder
      Retry:
        - ErrorEquals: ["States.ALL"]
          IntervalSeconds: 2
          BackoffRate: 2
          MaxAttempts: 2
      Catch:
        - ErrorEquals: ["States.ALL"]
          ResultPath: $.error
          Next: NotifyError
      Next: Successful
    
    NotifyError:
      Type: Task
      Resource: ${self:provider.environment.BASE_FUNCTION_NAME}NotifyOptimizationError
      Next: Failed
    
    Failed:
      Type: Fail
      Error: "CampaignOptimizationFailed"
      Cause: "Verificar detalhes na tabela ExecutionHistory"
    
    Successful:
      Type: Succeed

dependsOn:
  - StateMachineRole 